.address {
	margin: 70px auto;
	width: 70%;
	text-align: center;
	font-size: 25px;
}
.inspiration-box {
	margin-bottom: 40px;
}
.form-group {
	width: 70%;
	margin: 10px auto;
}
.submit {
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
