* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*text*/
.meta {
  margin-top: 10px;
  text-align: right;
  max-width: 95%;
}
.inspiration-box p {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: justify;
}


.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}
.gallery-container {
  max-width: 100%;
  margin: 50px auto 0;
}
.box {
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  margin-bottom: 4px;
  float: left;
}

.img-1 {background: url("http://gimepix.com/img/550-400-people-001") 0/cover no-repeat;}
.img-2 {background: url("http://gimepix.com/img/500-600-people-002") 0/cover no-repeat;}
.img-3 {background: url("http://gimepix.com/img/400-540-people-003") 0/cover no-repeat;}
.img-4 {background: url("http://gimepix.com/img/650-400-people-004") 0/cover no-repeat;}
.img-5 {background: url("http://gimepix.com/img/550-400-people-005") 0/cover no-repeat;}
.img-6 {background: url("http://gimepix.com/img/550-400-people-006") 0/cover no-repeat;}
.img-7 {background: url("http://gimepix.com/img/550-400-people-007") 0/cover no-repeat;}
.img-8 {background: url("http://gimepix.com/img/550-400-people-008") 0/cover no-repeat;}
.img-9 {background: url("http://gimepix.com/img/550-400-people-009") 0/cover no-repeat;}
.img-10 {background: url("http://gimepix.com/img/550-400-people-010") 0/cover no-repeat;}
.img-11 {background: url("http://gimepix.com/img/550-400-people-011") 0/cover no-repeat;}
.img-12 {background: url("http://gimepix.com/img/550-400-people-012") 0/cover no-repeat;}
.img-13 {background: url("http://gimepix.com/img/550-400-people-013") 0/cover no-repeat;}
.img-14 {background: url("http://gimepix.com/img/550-400-people-014") 0/cover no-repeat;}
.img-15 {background: url("http://gimepix.com/img/550-400-people-015") 0/cover no-repeat;}

@media (max-width: 1050px) {
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media (max-width: 650px) {
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}