.inspiration-box nav {
	display: flex;
	justify-content: center;
}
.inspiration-box ul.pagination {
	margin: 30px auto 60px auto;
}
.pagination>li>a {
	color: #545454;
	background-color: transparent;
	border: none;
	font-weight: 600;
	font-size: 20px;
}
.pagination>li>a:focus, .pagination>li>a:hover {
	color: #000;
	background-color: #a67c52;
	opacity: .7;

}